<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MassEmailPassChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MassEmailPassChanger.Properties.Settings>
            <setting name="AutTabPath" serializeAs="String">
                <value>O:\Projects\MassEmailPassChanger\MassEmailPassChanger\AUTH.TAB</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiHost" serializeAs="String">
                <value />
            </setting>
        </MassEmailPassChanger.Properties.Settings>
    </userSettings>
</configuration>